In [33]:
import pandas as pd

df = pd.read_json('transaction-data-adhoc-analysis.json')

In [34]:
df['date'] = pd.to_datetime(df['transaction_date'])
df['date'] = df['date'].dt.strftime('%Y-%m')

In [35]:
jan = df[df['date'] == '2022-01']
feb = df[df['date'] == '2022-02']
march = df[df['date'] == '2022-03']
april = df[df['date'] == '2022-04']
may = df[df['date'] == '2022-05']
june = df[df['date'] == '2022-06']

In [36]:
# counts customer per month
test = df.groupby(pd.Grouper(key='date', axis=0)).count()

# create new table with months and number of repeaters
test2 = pd.DataFrame(index=test.index)

# create repeaters column
test2['repeaters'] = ""
repeaters = []
month = 1
currentmonth = "2022-02"
lastmonth = "2022-01"

for row in range(len(test.index)):
    x = df[df["date"] == lastmonth][df[df["date"] == lastmonth]["name"].isin(df[df["date"] == currentmonth]["name"])].count()
    if month == 1:
        repeaters.append(0)
    else:
        repeaters.append(x['date'])
    currentmonth = currentmonth[:len(currentmonth)-1] + str(month + 1)
    lastmonth = lastmonth[:len(lastmonth)-1] + str(month)
    month = month + 1
    
test2['repeaters'] = repeaters
test2["month"] = ["January", "February", "March", "April", "May", "June"]
test2 = test2.set_index('month')
test2 = test2.T
test2

month      January  February  March  April    May   June
repeaters        0     10773  11108  10920  10877  11050

In [37]:
# create inactive column
inactive = pd.DataFrame(index=test.index)
inactive['inactive'] = ""
inactiveCustomers = []
month = 1
currentmonth = "2022-02"
lastmonth = "2022-01"

for row in range(len(test.index)):
    x = df[df["date"] == lastmonth][-df[df["date"] == lastmonth]["name"].isin(df[df["date"] == currentmonth]["name"])].count()
    if month == 1:
        inactiveCustomers.append(0)
    else:
        inactiveCustomers.append(x['date'])
    currentmonth = currentmonth[:len(currentmonth)-1] + str(month + 1)
    lastmonth = lastmonth[:len(lastmonth)-1] + str(month)
    month = month + 1
    
inactive['inactive'] = inactiveCustomers
inactive["month"] = ["January", "February", "March", "April", "May", "June"]
inactive = inactive.set_index('month')
inactive = inactive.T
inactive

month     January  February  March  April   May  June
inactive        0      2915   2864   2982  2902  2814

In [38]:
customers = pd.DataFrame()
customers['month'] = ["January", "February", "March", "April", "May", "June"]
customers['repeaters'] = repeaters
customers['inactive'] = inactiveCustomers
customers = customers.set_index('month').T
customers

month      January  February  March  April    May   June
repeaters        0     10773  11108  10920  10877  11050
inactive         0      2915   2864   2982   2902   2814

In [39]:
#getting engaged customers
engaged = pd.DataFrame()
engaged['engaged'] = ""
engagedCustomers = ()

engaged0 = jan[jan['name'].isin(jan['name'])]
engaged1 = jan[jan['name'].isin(feb['name'])]
engaged2 = engaged1[engaged1['name'].isin(march['name'])]
engaged3 = engaged2[engaged2['name'].isin(april['name'])]
engaged4 = engaged3[engaged3['name'].isin(may['name'])]
engaged5 = engaged4[engaged4['name'].isin(june['name'])]

engagedCustomers = [len(engaged0.groupby(['name', 'date'])), len(engaged1.groupby(['name', 'date'])), len(engaged2.groupby(['name', 'date'])), len(engaged3.groupby(['name', 'date'])), len(engaged4.groupby(['name', 'date'])), len(engaged5.groupby(['name', 'date']))]

engaged['engaged'] = engagedCustomers
engaged["month"] = ["January", "February", "March", "April", "May", "June"]
engaged = engaged.set_index('month').T
engaged = engaged.T
engaged

          engaged
month
January      6588
February     5172
March        4126
April        3289
May          2667
June         2190